{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
    <script src="{% static "js/match.js" %}" type="text/javascript"></script>
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
    <center>
        <button id="easy">Easy</button>
        <button id="medium">Medium</button>
        <button id="difficult">Difficult</button>
    </center>

<div id="overlay">
    <h1>Winner! Winner!</h1>
    <img src="{% static 'img/win.gif' %}" />
    <span></span>
</div>
<div id="box">

    <div class="pokemon"></div>
</div>



{% endblock %}

{% block subnav %}
{% endblock %}


